.login-container {
  // min-height: 100vh;
  // background: linear-gradient(-135deg, #c850c0, #4158d0);
  
  .cred-container {
    border: 1px solid black;
    width: 50%;
    margin: auto;
    padding: 5%;
    // margin-top: 12%;
    // background: white;
    // background: linear-gradient(-135deg, #c850c0, #4158d0);
    border-radius: 10px;
   
  }
}
