.login-container {
  background-image: url(../../assets/login.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .cred-container {
    width: 25%;
    margin-left: 3%;
    padding: 2%;
    border-radius: 10px;

    .blck {
      margin-top: 230px;
      border: 1px solid gray;
      border-radius: 5px;
      form {
        padding: 5%;
      }
    }
  }
}
