.top-bar {
  text-align: right;
    padding: 1% 2%;
    .off-icon {
      color: gray;
      &:hover {
        color: red;
        cursor: pointer;
      }
    }
}
.search-block {
  text-align: center;
  margin-top: 10%;
  input {
    padding: 10px 15px;
    height: 58px;
    font-size: 35px;
    border: 2px solid gray;
    border-radius: 4px;
    width: 40%;
  }
}

.search-btn-block {
  text-align: center;
  margin-top: 10px;
  button {
    padding: 5px 20px;
    &:hover {
      cursor: pointer;
      background-color: #4caf50;
      color: white;
      border: none;
    }
  }
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0px 5%;
}

.grid-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 245px;
  flex-basis: 20%;
  -ms-flex: auto;
  width: 259px;
  position: relative;

  margin: 2%;
  box-sizing: border-box;
  &:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .img-blck {
    img {
      border-radius: 5px 5px 0 0;
      vertical-align: middle;
      border-style: none;
      height: 150px;
      width: 100%;
    }
  }
  .cntnt-blck {
    padding: 10px;
    .place-name {
      font-weight: 700;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .place-desc {
      font-size: 11px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .place-province {
      display: block;
      font-weight: 500;
      font-size: 11px;
    }
    .place-book {
      justify-content: center;
      display: flex;
      button {
        outline: none;
        border: none;
        background: #4caf50;
        border-radius: 2px;
        text-align: center;
        font-size: 12px;
        padding: 4px 20px;
        color: white;
        &:hover {
          cursor: pointer;
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  
}
.trends {
  display: block;
  margin: 0 7% !important;
  font-size: 1.75rem;
  margin: 0 5%
}