<div class="home-container">
    <div *ngIf="userLoggedIn" class="top-bar">
        <h2>Welcome, {{username}} <i class="fa fa-power-off off-icon" (click)="onClickLogout()"></i></h2> 
    </div>
    <div *ngIf="!userLoggedIn" class="top-bar">
        <span class="login-txt" (click)="onClickLogin()">Login</span>
    </div>
    <div class="search-block">
        <input [(ngModel)]="search_text" placeholder="Search here...." required>
    </div>
    <div class="search-btn-block">
        <button (click)="onClickSearch()">Search</button>
    </div>
    <div *ngIf="trendingSearchRes?.length > 0" class="search-results">
        <span class="trends">Trending Places</span>
        <div class="grid-row ">
            <div class="grid-item" *ngFor="let card of trendingSearchRes">
                <div class="img-blck">
                    <img src="https://tourismapp14.s3.amazonaws.com/{{card.place_name}}.jpg" />
                </div>
                <div class="cntnt-blck">
                    <span class="place-name">
                        {{card.place_name}}
                       </span> 
                       <span class="place-desc">
                        {{card.desc}}
                       </span>
                       <span class="place-province">
                        {{card.province_id}}
                       </span> 
                       <span class="place-book">
                        <button (click)="onClickBook(card)" >BOOK</button>
                       </span> 
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row ">
        <div class="grid-item" *ngFor="let card of searchResults">
            <div class="img-blck">
                <img src="https://tourismapp14.s3.amazonaws.com/{{card.place_name}}.jpg" />
            </div>
            <div class="cntnt-blck">
                <span class="place-name">
                    {{card.place_name}}
                   </span> 
                   <span class="place-desc">
                    {{card.desc}}
                   </span>
                   <span class="place-province">
                    {{card.province_id}}
                   </span> 
                   <span class="place-book">
                    <button (click)="onClickBook(card)" >BOOK</button>
                   </span> 
            </div>
        </div>
    </div>
</div>